#about{
    background: white;
    margin: 2rem;
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
}

.about .heading{
    font-size: 4rem;
}

.about .sub-heading{
    font-size: 3rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.row .image{
    flex: 1 1 4rem;
    padding-bottom: 5rem;
}

.row .image img{
    width: 84%;
    margin-left: 3.5rem;
}

.about .row .content{
    flex: 1.1 1 9rem;
    padding: 0 3rem;
}

.row .content h3{
    color: var(--black);
    font-size: 4rem;
    padding: .5rem 0;
}

.row .content p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: .5rem 0;
    line-height: 2;
}

.row .icons-container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem 0;
    margin-top: .5rem;
}

.row .icons-container .icons{
    background: #eee;
    border-radius: .5rem;
    display: flex;
    border: .1rem solid rgba(0,0,0,.2);
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex: 1 1 17rem;
    padding: 1.5rem 1rem;
}

.row .icons-container .icons i{
    font-size: 2.5rem;
    color: var(--green);
}

.row .icons-container .icons span{
    font-size: 1.5rem;
    color: var(--black);
}

.about .row .content .btn{
    margin: 7rem 0;
}

@media(max-width:1006px){
    .row .image{
        flex: 1 1 100rem;
        padding-bottom: 3rem;
    }
    
    .row .image img{
        width: 50%;
        margin-left: 25rem;
    }
}

@media(max-width:800px){
    .row .image img{
        margin-left: 22rem;
    }
}

@media(max-width:600px){
    .row .image img{
        margin-left: 17rem;
    }
}

@media(max-width:360px){
    .row .image img{
        margin-left: 10rem;
    }
    .row .image{
        padding-bottom: 0;
    }
    .about .row .content .btn{
        margin: 2rem 0;
    }
    .about .heading{
        font-size: 3rem;
    }
    
    .about .sub-heading{
        font-size: 2.5rem;
    }
}